<div
  class="
    flex
    items-center
    px-8
    absolute
    top-0
    left-0
    h-16
    w-full
    bg-white
    dark:bg-gray-800
    border-b border-gray-200
    dark:border-gray-600
  "
  *ngIf="isOpenSearchBar"
  @SlideYTrigger
>
  <mat-icon class="text-gray-400 dark:text-gray-600">search</mat-icon>
  <input
    class="
      flex-grow
      bg-transparent
      outline-none
      ml-2
      placeholder-gray-400
      dark:placeholder-gray-600
    "
    type="text"
    placeholder="Search for a page or a contact"
    [formControl]="searchControl"
  />
  <button mat-icon-button (click)="close()">
    <mat-icon class="text-gray-400 dark:text-gray-600">close</mat-icon>
  </button>
</div>
<ng-container *ngIf="searchResult$ | async as searchResult">
  <div
    *ngIf="searchResult.length"
    style="top: 64px; left: 0"
    class="
      absolute
      px-2
      max-h-96
      bg-white
      dark:bg-gray-800
      shadow-md
      w-full
      rounded-b-md
      overflow-y-auto
    "
  >
    <div *ngIf="haveResult">
      <ng-template ngFor let-cat [ngForOf]="searchResult">
        <ng-container *ngIf="cat.list.length">
          <div
            class="
              flex
              items-center
              font-bold
              cursor-default
              h-12
              w-full
              px-5
              mt-2
              text-gray-500
              dark:text-gray-400
            "
          >
            {{ cat.category | uppercase }}
          </div>
          <ng-template ngFor let-item [ngForOf]="cat.list">
            <div
              class="
                flex
                items-center
                h-12
                w-full
                px-5
                mt-2
                rounded-md
                cursor-pointer
                hover:bg-gray-500 hover:bg-opacity-5
                dark:hover:bg-white dark:hover:bg-opacity-5
              "
              (click)="onClickSearchResultItem(cat.category, item)"
              [ngSwitch]="cat.category"
            >
              <ng-container *ngSwitchCase="'contacts'">
                <div
                  class="
                    flex
                    justify-center
                    items-center
                    rounded-full
                    w-8
                    h-8
                    bg-blue-100
                    dark:bg-blue-800
                    overflow-hidden
                  "
                >
                  <mat-icon class="text-blue-800 dark:text-blue-100">
                    account_circle
                  </mat-icon>
                </div>
                <div class="ml-2">{{ item.contactName }}</div>
              </ng-container>
              <div
                class="flex-col items-start justify-around"
                *ngSwitchCase="'pages'"
              >
                <div>{{ item.pageName }}</div>
                <div class="text-xs text-gray-500 dark:text-gray-400">
                  {{ item.path }}
                </div>
              </div>
              <ng-container *ngSwitchCase="'tasks'">
                <mat-icon
                  [ngClass]="
                    item.isCompleted
                      ? 'text-blue-800 dark:text-blue-100'
                      : 'text-gray-400 dark:text-gray-600'
                  "
                  >check_circle_outline</mat-icon
                >
                <div class="ml-2">{{ item.taskName }}</div>
              </ng-container>
            </div>
          </ng-template>
        </ng-container>
      </ng-template>
    </div>
    <div
      class="flex items-center text-gray-400 dark:text-gray-600 h-12 px-5"
      *ngIf="!haveResult"
    >
      <div>No result found!</div>
    </div>
  </div>
</ng-container>
