<div class="flex justify-center items-center bg-gray-100 h-screen lg:py-0">
  <div
    class="
      flex
      justify-center
      items-center
      h-full
      sm:py-5
      lg:w-1/2 lg:justify-end
    "
  >
    <div
      class="
        w-80
        sm:bg-white sm:rounded-xl sm:p-10 sm:w-96
        lg:bg-transparent lg:rounded-none
      "
    >
      <img
        class="w-20 h-20"
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt=""
      />
      <div class="mt-10 font-bold text-3xl">Sign in</div>
      <div class="flex">
        <div class="text-md">Don't have an account?</div>
        <a href="#" class="text-purple-500 ml-2 hover:underline">Sign up</a>
      </div>
      <form [formGroup]="signInForm">
        <mat-form-field class="w-full mt-10" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field class="w-full mt-5" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
            matInput
          />
          <mat-icon
            (click)="toggleHidePassword()"
            class="cursor-pointer"
            matSuffix
          >
            {{ hidePassword ? "visibility" : "visibility_off" }}
          </mat-icon>
        </mat-form-field>
        <div class="flex justify-between">
          <mat-checkbox formControlName="returnSecureToken"
            >Remember me</mat-checkbox
          >
          <a href="#" class="text-purple-500 ml-2 hover:underline"
            >Forgot password?</a
          >
        </div>
        <button
          class="mt-8 w-full h-14 rounded-full flex justify-center items-center"
          mat-flat-button
          [disabled]="loading"
          color="primary"
          (click)="signIn()"
        >
          <ng-container *ngIf="!loading">Sign in</ng-container>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </button>
      </form>
    </div>
  </div>
  <div
    class="
      flex-col
      justify-center
      hidden
      bg-gray-800
      h-screen
      px-24
      lg:flex lg:w-1/2
    "
  >
    <h1 class="text-white text-5xl font-bold">
      Welcome to <br />
      my Angular application
    </h1>
    <div class="text-gray-400 mt-10 text-lg">
      My application shows some features that I can implement with Angular. Hope
      you enjoy it.
    </div>
  </div>
</div>
