<app-loading-screen *ngIf="loadingScreen$ | async"></app-loading-screen>
<mat-sidenav-container class="h-screen">
  <!-- Sidenav -->
  <mat-sidenav
    [mode]="sidenavMode"
    opened="true"
    *ngIf="(authState$ | async) === authenticated"
  >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="relative">
    <!-- Tool bar -->
    <app-toolbar
      *ngIf="(authState$ | async) === authenticated"
      (toggleSidenav)="matSidenav.toggle()"
    ></app-toolbar>

    <!-- Search bar -->
    <app-search *ngIf="isOpenSearchBar$ | async"></app-search>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
